*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 221, 221); 
}

.conteiner-fluid{
    display: flex;
    justify-content: center;   
   
}
.conteiner{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    position: fixed;
    background-color: rgb(240, 221, 221);  
    z-index: 1;  
    border-style: solid;
}
.logo{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;     
}
.navbar button{
    border-style: none;
}
.navbar a {
    float: left;
    display: block;
    color: #0e8d78;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}  
.navbar a:hover {
    color: rgb(255, 255, 255);
    border-style: solid;
} 

.conteiner2{
    display: flex;
    width: 80%; 
    position: fixed;
    background-color: rgb(240, 221, 221);
    padding-top: 110px;  
 }
.conteiner2 ul{
    display: block;
    float: center;
    list-style: none;
    width: 100%;
    text-align: center;
    border-style: solid;   
}
.conteiner2 ul li{
   display: inline-block;
   margin: 0 5px;
   width: 23%;
}
.conteiner2 ul li a{
    color: #0e8d78;
    text-decoration: none;
    line-height: 30px;
    font-size: large;
    text-align: center;    
}
.conteiner2 ul li a:hover{
    color: rgb(255, 255, 255);
}
.conteiner2 ul ul{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 25%;  
}
.conteiner2 ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.conteiner2 ul ul li{
    position: relative;
    margin: 0;
    float: none;
    display: list-item;
    text-align: center;
    margin-top: 10px; 
    width: 90%;
}
.conteiner4{
    display: flex;
    justify-content: center;
    width: 70%; 
    height: 706px;
    position: fixed;
    background-color: rgb(240, 221, 221); 
    top:250px; 
    z-index: -1;
    border-style:solid ;
}
.conteiner3{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    position: fixed;
    background-color: rgb(240, 221, 221);   
    bottom: 18px;
    border-style: solid;
}
.flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flex ul {
    list-style: none; 
    margin-top: 10px;
}
.flex ul li{
    margin-bottom: 10px;
}
.flex ul li a{
    text-decoration: none;
    color: #0e8d78;   
}
.flex ul li a:hover{
    color: rgb(255, 255, 255);
}
.socials .fa{
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;  
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.metai{
    display: flex;
    justify-content: center;
    width: 80%; 
    position: fixed;
    background-color: rgb(240, 221, 221);   
    bottom: 0px;
    border-style: solid;
}
.modal1 , .modal2{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;  
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    margin: auto;
    padding: 50px;   
    width: 50%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.show, .icon, .conteiner2 input{
display: none;
}
@media screen  {  
    .navbar {
        flex-wrap: wrap;
    }
    .conteiner3{
        flex-wrap: wrap;
    }
    .flex{
        flex-wrap: wrap;
    } 
}
